.row {
  display: flex;
}

.px-90 {
  padding-left: 90px;
  padding-right: 90px;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.column {
  display: flex;
  flex-direction: column;
}

.full {
  flex-basis: 100%;
}

.two-thirds {
  flex-basis: calc(200% / 3);
}

.half {
  flex-basis: 50%;
}

.align-center {
  align-items: center;
}

.align-right {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.tiempos-font {
  font-family: 'Tiempos Headline', sans-serif;
}

.top-row {
  margin-top: 10px;
  border-bottom: 1px solid #f6f6f8;
  padding-bottom: 10px;
}

.buttons-container {
  height: 100%;
  display: flex;
  justify-content: right;
}

nav li {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  text-wrap: nowrap;
}

footer li {
  margin-bottom: 15px;
  font-size: small;
}

.location-list li {
  margin-bottom: 20px;
}

.links-container li {
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  text-wrap: nowrap;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin-top: 10px;
  margin-bottom: 0;
}

.white-link {
  color: #757575;
  background-color: white;
}

.blue-link {
  background-color: #2a4464;
  color: white;
  border-radius: 3px;
}

.blue-logo-container {
  display: flex;
  justify-content: left;
  width: 135px;
  margin-top: 16px;
}

.blue-logo-container img {
  width: 100%;
}

.hero-container {
  flex-basis: 100%;
  background-image: url('images/hero.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-top: 50px;
  padding-bottom: 40px;
  padding-left: 60px;
  color: white;
}

.hero-container p {
  margin-bottom: 20px;
}

.hero-container > img {
  width: 100%;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.get-started-button {
  width: 140px;
  height: 40px;
  border: none;
}

.clinicians-prefer-container {
  color: #757575;
  background-color: #fafafa;
  border-bottom: 1px solid #ebebef;
  padding-top: 30px;
  padding-bottom: 60px;
}

.clinicians-prefer-container p {
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
}

.location-list {
  margin-top: 50px;
  list-style-type: none;
  font-size: medium;
}

.ready-to-learn {
  color: #808080;
  margin-bottom: 20px;
}

.ready-to-learn h2 {
  font-weight: 100;
  margin-bottom: 0;
}

.ready-to-learn p {
  font-size: small;
}

.first-footer-row {
  background-color: #525351;
  padding-top: 90px;
  color: white;
  padding-bottom: 80px;
}

.white-logo-container {
  width: 140px;
  margin-bottom: 30px;
}

.white-logo-container img {
  width: 100%;
}

* {
  font-family: Avenir, sans-serif;
}

address {
  font-style: normal;
  font-size: small;
  font-weight: 100;
}

footer ul {
  list-style-type: none;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
